<div class="container">
  <h1 class="title">Productos</h1>

  <div class="cart-button-container open-cart-button">
    <button mat-icon-button (click)="openCart()" matTooltip="Ver Carrito">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>

  <!-- Campo de búsqueda -->
  <mat-form-field appearance="fill" class="search-field">
    <mat-label>Buscar por nombre</mat-label>
    <input matInput (input)="filterProducts($event)" placeholder="Buscar...">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <br><br>

  <div class="products-grid">
    <mat-card *ngFor="let product of filteredProducts" class="product-card">
      <img mat-card-image [src]="product.imagen" alt="Imagen del producto">
      <mat-card-content>
        <h1>{{ product.nombre }}</h1>
        <p>{{ product.descripcion }}</p>
        <p class="price">{{ product.precio | currency }}</p>
        <p *ngIf="product.stock > 0" class="stock">Stock disponible: {{ product.stock }}</p>
        <p *ngIf="product.stock === 0" class="no-stock">Sin stock</p>
      </mat-card-content>

      <!-- Contenedor del botón o mensaje -->
      <div class="button-container">
        <!-- Botón agregar al carrito -->
        <button mat-icon-button (click)="addToCart(product)" *ngIf="!product.addedToCart && (product.stock > 0)"
          matTooltip="Agregar al carrito">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <!-- Mensaje de producto agregado -->
      <div *ngIf="product.addedToCart" class="product-added-message">
        <mat-icon class="check-icon">check_circle</mat-icon>
        <span>Producto agregado</span>
      </div>
      
    </mat-card>
  </div>
</div>
