<div class="header-container">
    <h1 class="title">Categorías</h1>
    <!-- <button mat-raised-button color="primary" (click)="openAddCategoryModal()">Agregar Categoría</button> -->
  </div>
  
  <div class="table-container">
    <table mat-table [dataSource]="categories" class="mat-elevation-z8">
      <!-- Columna Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let category">{{ category.nombre }}</td>
      </ng-container>
  
      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let category">
          <button mat-icon-button color="accent" (click)="editCategory(category)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCategory(category.id_categoria)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <!-- Filas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-spinner *ngIf="!categories.length" diameter="40"></mat-spinner>
</div>

<!-- Botón flotante -->
<button mat-fab color="primary" class="add-button" (click)="openAddCategoryModal()">
    <mat-icon>add</mat-icon>
  </button>
  