<link 
  rel="stylesheet" 
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" 
/>

<ng-container *ngIf="!isLoggedIn">
  <!-- Mostrar componente de login si no está logueado -->
  <app-login (loginSuccess)="onLoginSuccess($event)"></app-login>
</ng-container>

<ng-container *ngIf="isLoggedIn">
  <!-- Aquí puedes poner el contenido que debe mostrarse cuando el usuario esté logueado -->
  <router-outlet></router-outlet>
</ng-container>
